.aroura{
    max-width: 30%;
    position: relative;
}

.title{
    font-size: 50px;
    animation-name: titleanimation;
    color:rgb(96, 255, 229);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    line-height: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    transform: translate(0%, -200%);
}

@keyframes titleanimation{
    from{
        color: rgb(226, 255, 251);
    }
    to{
        color: rgb(131, 131, 131);
    }
}

.leftwords{
        animation-name: leftwordsanimation;
        font-size: 10px;
        color:aquamarine;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        line-height: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 20px;
        max-width: 500px;
        transform: translate(0%, -520%);
    }

 @keyframes leftwordsanimation{
        from{
            color: rgb(232, 252, 255);
            
        }
        to{
            color: aquamarine;
        }
    }

    .container {
        position: relative;
        width: 100%;
        max-width: 350px;
      }
      
      
    .container .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-90%, -450%);
        background-color: #f1f1f1;
        color:  rgb(131, 131, 131);
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
        border-radius: 1px;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        opacity: 80%;
      }
      
    .container .btn:hover {
        background-color: rgb(178, 254, 255);
        opacity: 10%;
        color: white;
      }
      
.arrow{
    transform: translate(500px, -1900px);
   max: width 2px;

}